@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="margin-top: 30px;">
    <h2 style="color: #4b0082; font-size: 3rem; font-weight: bold;">
        Bienvenida/o a la Página de Inicio
    </h2>


    <!--<div class="text-center">
        <div style="display: inline-block; background-color: #f3e5ff; padding: 20px; border-radius: 10px; color: #7a42a6; margin-top: 25px;">
            <p style="margin: 0; font-size: 1rem;">@ViewBag.Mensaje</p>
        </div>
    </div>-->

    <h2 style="color:#7a42a6; padding: 20px; border-radius: 10px; margin-top: 25px;">
        @ViewBag.Mensaje
    </h2>

    <img src="~/images/robot.jpg" style="width: 300px; height: auto; margin-top: 20px; border-radius: 40px;">
</div>